html,
body {
  height: 100vh;
  min-height: 100vh;
  background-color: #f4f6fb;
  background-color: rgba(245, 250, 255, 1);
  font-family: sans-serif;
}

button {
  outline: none;
  background: none;
  border: none;
}

/* .pic {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #1ecdc5;
} */

.user_label {
  align-self: flex-start;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(55, 65, 81);
}

.room_label {
  align-self: flex-start;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(55, 65, 81);
  margin-top: 1rem;
}

.app {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  background-color: #f4f6fb;
  background-color: rgba(245, 250, 255, 1);
  height: 100vh;
}

.chat_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
  background-color: #fff;
  box-shadow: 0px 10px 10px rgba(113, 113, 113, 0.1);
  border-radius: 20px;
  padding: 20px 20px 50px 20px;
}

.logo_text {
  margin: 10px 0 30px 0;
}

.logo_text span {
  font-size: 1.4rem;
  font-weight: 600;
  color: rgb(55, 65, 81);
}

.logo_text span.colored {
  color: #1ecdc5;
}

.avatar_list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active_avatar {
  border: 5px solid #1ecdc5;
}

.avatar_image {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  /* border: 5px solid #1ecdc5; */
}

.username_input_holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 0 20px 0;
}

.username_input {
  border: 1px solid #d3d6e2;
  border-radius: 10px;
  font-size: 18px;
  padding: 15px;
  width: 300px;
}

.btn_holder {
  display: flex;
  justify-content: center;
}

button.enter_chat_btn {
  background-color: #1ecdc5;
  border: 0;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  font-size: 12px;
}

/* Chat Home Styles */
.chat_app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px;
  width: 80%;
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(113, 113, 113, 0.1);
  border-radius: 20px;
  height: 80vh;
}

.left_sidebar {
  display: flex;
  min-width: 10rem;
  flex-direction: column;
  align-items: center;
  /* background-color: tan; */
  padding: 10px 20px;
  border-radius: 20px 0 0 20px;
}

.chat_area {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  /* background-color: orange; */
}

.right_sidebar {
  display: flex;
  min-width: 10rem;
  flex-direction: column;
  align-items: center;
  /* background-color: tan; */
  padding: 10px 20px;
  border-radius: 0 20px 20px 0;
}

.avatar_profile {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin: 10px 0;
}

.small_img {
  width: 35px;
  height: 35px;
  border-radius: 30px;
}

.profile_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 20px 0;
}

.profile_info p {
  color: #f48235;
  cursor: pointer;
}

.active_users_list {
  width: 100%;
  overflow-y: auto;
  padding: 10px;
}

.user_card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  padding: 7px 5px;
  margin: 5px 0;
}

.user_card span {
  margin: 0 15px;
  color: rgb(55, 65, 81);
}

.active_rooms_list {
  display: flex;
  flex-direction: column;
  flex: 100;
  width: 100%;
  overflow-y: auto;
  padding: 10px;
}

.room_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 7px 10px;
  margin: 5px 0;
  cursor: pointer;
}

.room_item_content {
  display: flex;
  flex: 2;
  flex-direction: row;
  justify-content: flex-start;
}

.room_item_controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.roomInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.room_name {
  color: rgb(31, 41, 55);
  margin-bottom: 0.2rem;
}

.room_author {
  font-size: 0.875rem;
  color: rgb(75, 85, 99);
}

.badge {
  padding: 2px 8px;
  margin: 3px;
  background-color: #ff5e5e;
  color: #fff;
  border-radius: 30px;
  font-size: 0.7rem;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.chat_bg {
  background-color: #f4f6fb;
  background-color: rgba(245, 250, 255, 1);

  display: flex;
  flex-direction: column;
  flex: 1;
  height: 1px; /* for overflow-y: scroll on .chat to work */
  border-radius: 20px;
  width: 100%;
}

.chat {
  flex: 100;
  height: 1px; /* for overflow-y: scroll to work */
  padding: 20px;
  overflow-y: auto;
}

.chat_info {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #d0d3d9;
  color: grey;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 30px;
  text-align: center;
  margin: 10px;
}

.chat_input {
  display: flex;
  flex-direction: row;
  position: relative;
  /* flex: 1; */
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.chat_input input {
  flex: 1;
  color: rgb(55, 65, 81);
  border: 1px solid #e2e5f1;
  border-radius: 10px;
  font-size: 14px;
  padding: 10px;
  margin-right: 5px;
}

.send_message_btn {
  background-color: #1ecdc5;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 600;
}

input:focus,
button:focus {
  outline: none;
}

.message_holder {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* background-color: teal; */
  /* padding: 10px 0; */
  margin: 10px 0;
}

.message_box {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* background-color: gold; */
}

.message_time {
  width: 100%;
  text-align: start;
  padding-left: 15px;
  font-size: 0.8rem;
  color: gray;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  box-shadow: 0px 10px 10px rgba(113, 113, 113, 0.1);
  border-radius: 10px;
  padding: 0.75rem 1rem;
}

.me {
  justify-content: flex-end;
}

.me .message_box {
  order: -1;
  align-items: flex-end;
}

.me .message_time {
  width: 100%;
  text-align: end;
  padding-right: 15px;
  font-size: 0.8rem;
  color: gray;
}

.message_name {
  color: #1ecdc5;
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.message_text {
  color: rgb(31, 41, 55);
  font-size: 0.875rem;
}

.announcement {
  background-color: #fbeee6;
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.announcement span {
  color: #c37748;
  font-weight: 600;
  font-size: 0.875rem;
}

.active_item {
  background-color: #f4f6fb;
  background-color: rgba(245, 250, 255, 1);
  padding: 0.75rem;
}

.room_input {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
  /* background-color: pink; */
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px 0;
  width: 100%;
}

.room_input input {
  flex: 1;
  border: 1px solid #d3d6e2;
  /* border-radius: 10px; */
  color: rgb(55, 65, 81);
  font-size: 14px;
  padding: 10px;
  margin-right: 5px;
  border: 0;
  border-bottom: 1px solid #d3d6e2;
}

.room_add_icon_holder {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #1ecdc5;
  border-radius: 4px;
  padding: 5px 8px;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
}

.icon {
  background-color: red;
  margin: 0;
  padding: 0;
}
